@import "~office-ui-fabric-react/dist/sass/References.scss";

.d3Demo {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.chartBtn {
  display: flex;
  margin-top: 30px;
  // background-color: rgb(41, 156, 143);
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 300px;
}

body {
  margin: 0;
  overflow: hidden;
}
